<div class="bg">
  <section class="container-fluid">
    <section class="row justify-content-center">

      <section class="col-12 col-sm-6 col-md-3">
        <form class="form-container  bg-form" [formGroup]="registrationForm">
          <div class="profilePicContainer">
            <!-- <div class="span3 well"> -->
            <img src="../../assets/images/hire.png" name="aboutme" width="140px" height="60px">
            <!-- </div> -->
          </div>


          <div class="form-group">
            <mat-form-field class="col-sm-12">
              <input type="text" formControlName="userName" matInput aria-label="User Name" placeholder="User Name"
                class="form-control" required>
              <mat-error
                *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').errors?.required">
                User Name is Required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="col-sm-12">
              <input type="password" formControlName="password" matInput aria-label="Password" placeholder="Password"
                class="form-control" required>
            </mat-form-field>
            <mat-error
              *ngIf="registrationForm.get('password').touched && registrationForm.get('password').errors?.required">
              Password is Required.
            </mat-error>
          </div>
          <input type="button" class="btn btn-primary" value="Login" (click)="postDataToserver()" />
          <a style="float:right" routerLink="/register" class="btn btn-link">Register with us</a>
        </form>
      </section>
    </section>
  </section>
</div>