.form-container{
    position:relative;
    margin-top: 27%;
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    width:130%;
    margin-left:-20%;
    box-shadow: 0px 0px 10px 0px #000;
}
input[type="text"], input[type="password"] {
    width: 100%;
}

.bg-form {
    background-color:#09020212;
}


.bg{
    background:url('../../assets/images/register.jpg') no-repeat;
    width:100%;
    height:100%;
    background-size: 100% 100%;
    position: relative;
}
.example-spacer {
    flex: 1 1 auto;
  }
.profilePicContainer{
    display: grid;
    justify-content: center;
}