<div class="row" style="width:100%;">
    <div class="col-md-8" #jobStatusChart style="height: 530px;"></div>
    <div class="col-md-4">
        <div class="row" [class.displayNone]="!individualChartEnabled" #individualChart style="height: 300px;"></div>
        <div class="row" [class.displayNone]="!statusEnabled" #numberOfPositionsChart
            style="height: 200px;margin-left:20px"></div>
    </div>
</div>