example-chip-list {
    width: 100%;
}
::-webkit-scrollbar {
    width: 0px;
}


.widthset .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 0;
    padding-right: 0;
}
.displayNone {
    display:none;
}
.containerEnabled {
    margin-top: 5px;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom:5px
}

input.mat-chip-input {
    margin-left:0px !important;
}
.displayNone {
    display: none;
}

::-webkit-input-placeholder{
    color:white;
}

.widthWhole{
    width:100%;
    border-bottom: 0.1px solid rgba(0,0,0,.42);
}