<div class="example-chip-list col-sm-12 widthset placeholderColor">
        <mat-label style="color: rgba(0, 0, 0, 0.57);">{{skillLabel}}</mat-label>
<input type="text" [class.displayNone]="isDisabled" [disabled]="isDisabled" [style.background]="backgroundColor" matInput
            class="form-control widthWhole" matInput #skillInput [formControl]="skillCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                {{skill}}
            </mat-option>
        </mat-autocomplete>
</div>
<div class="example-chip-list col-sm-12 widthset" [style.background]="backgroundColor" [class.displayNone]="!(selectedSkills.length>0) && !isDisabled"
    [class.containerEnabled]="containerEnabled" style="max-height:100px;overflow-y: auto;overflow-x:hidden;">
    <mat-chip-list [disabled]="isDisabled" #chipList aria-label="Skill selection">
        <mat-chip *ngFor="let skill of selectedSkills" [selectable]="selectable" [removable]="removable"
            (removed)="remove(skill)">
            {{skill}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>