<form [formGroup]="addJobForm">
  <div class="employerTable jobContainer row">
    <div class="emptyDiv">
    </div>
    <mat-form-field class="col-md-3">
      <input matInput name="JobName" type="text" class="form-control" placeholder="Interview Position"
        aria-label="Interview Position" formControlName="JobName" required>
      <mat-error *ngIf="addJobForm.get('JobName').touched && addJobForm.get('JobName').errors?.required">Enter Interview
        Position</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput name="NoOfOpenings" type="number" class="form-control" placeholder="No Of Openings"
        aria-label="No Of Openings" formControlName="NoOfOpenings" required>
      <mat-error *ngIf="addJobForm.get('NoOfOpenings').touched && addJobForm.get('NoOfOpenings').errors?.required">Enter
        No Of Openings</mat-error>

    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput name="minimumexperience" min="0" type="number" class="form-control"
        placeholder="Minimum Experience" aria-label="Minimum Experience" formControlName="minExperience" required>
      <mat-error *ngIf="addJobForm.get('minExperience').touched && addJobForm.get('minExperience').errors?.min">Cannot
        have Number less than 0</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput name="maximumexperience" min="0" type="number" class="form-control"
        placeholder="Maximum Experience" aria-label="Maximum Experience" formControlName="maxExperience" required>
      <mat-error *ngIf="addJobForm.get('maxExperience').touched && addJobForm.get('maxExperience').errors?.min">Cannot
        have Number less than 0</mat-error>
    </mat-form-field>
    <div class="offset-md-9 col-md-3 errorText" *ngIf="addJobForm.errors?.experienceMisMatch">Maximum Experience should
      be greater than
      Minimum Experience</div>
    <mat-form-field class="col-md-6">
      <input  matInput name="organisation" type="text" class="form-control" placeholder="Organisation"
        aria-label="Job Short Description" formControlName="organisation" required />
      <mat-error
        *ngIf="addJobForm.get('organisation').touched && addJobForm.get('organisation').errors?.required">
        Enter Job Organisation</mat-error>
    </mat-form-field>
   
    <mat-form-field class="col-md-6">
      <textarea matInput name="JobShortDescription" type="text" class="form-control" placeholder="Job Short Description"
        aria-label="Job Short Description" formControlName="JobShortDescription" required></textarea>
      <mat-error
        *ngIf="addJobForm.get('JobShortDescription').touched && addJobForm.get('JobShortDescription').errors?.required">
        Enter Job Short Description</mat-error>
    </mat-form-field>
    
    <skill-list class="col-md-12" [selectedSkills]="skillsList" backgroundColor="transparent"
      skillLabel="Skills Required" (onChange)="skillChange($event)"></skill-list>
    <mat-form-field class="width-increase col-md-12">
      <input matInput name="Experience" type="text" class="form-control" placeholder="Responsibilities"
        aria-label="Responsibilities" [matChipInputFor]="respList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addResp($event)">

      <mat-chip-list #respList>
      </mat-chip-list>
    </mat-form-field>
    
    <div class="col-md-12" *ngFor="let resp of Responsibilities">
      <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeResp(resp)">
        {{resp}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </div>
    <mat-form-field class="col-md-3">
      <input  matInput name="minSalary" type="number" class="form-control" placeholder="Minimum Salary"
        aria-label="Minimum Salary" formControlName="minSalary"  />
        

        </mat-form-field>
        <mat-form-field class="col-md-3">
          <input  matInput name="maxSalary" type="number" class="form-control" placeholder="Maximum Salary"
            aria-label="Maximum Salary" formControlName="maxSalary"  />
           
        </mat-form-field>
    <mat-form-field class="col-md-5">
      <input matInput name="roundName" type="text" class="form-control" placeholder="Round Name" aria-label="Round Name"
        [formControl]="roundNameCtrl">
    </mat-form-field>
    <mat-form-field class="width-increase col-md-7">
      <input matInput name="roundDescription" type="text" class="form-control" placeholder="Round Description"
        aria-label="Round Description" [matChipInputFor]="roundList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addRound($event)">
    </mat-form-field>
    <mat-chip-list #roundList>
    </mat-chip-list>
    <div class="col-md-12" *ngFor="let round of rounds">
      <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeRound(round)">
        <b>{{round.roundName}}</b> : {{round.roundDescription}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </div>
    <div *ngIf="submitClicked && rounds.length <=0" class="errorText col-md-12">Atleast one round should be entered
    </div>
    <div style="margin-left: 43%;position: relative;">
      <input style="margin: 12px;" [disabled]="addJobForm.invalid" name="itemCategoryName" value="Add Job" type="submit"
        class="btn btn-danger btn-md" (click)="addInterview($event)">
    </div>
  </div>
</form>