<div class="jobContainer">
  <div class="candidateTable jobContainer row">
    <h4>Available Jobs</h4>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
      <ng-container matColumnDef="{{column.key}}" *ngFor="let column of initColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.name}} </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{element[column.key]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element;let i=index" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" style="width: 100%;">
              <mat-accordion class="accordionColor">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Description
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  {{element.jobShortDescription}}
                </mat-expansion-panel>
              </mat-accordion>

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Responsibilities
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li style.color="black" *ngFor="let column of element.responsibilities">{{column}}</li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Skills And Qualifications
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li style.color="black" *ngFor="let column of element.skillsAndQualification">{{column}}</li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Round Details
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li style.color="black" *ngFor="let column of element.rounds"><b>{{column.roundName}} </b>:
                      {{column.roundDescription}}</li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>

              <div class="col-sm-12" style="position: relative;margin: 12px;">
                <button style="margin-left: 45%;" mat-raised-button color="primary"
                  (click)="applyJob(element)">Apply</button>
              </div>
            </div>


          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

  <div class="candidateTable jobContainer row">
    <h4>Applied Jobs</h4>
    <table mat-table [dataSource]="dataAppliedSource" multiTemplateDataRows matSort class="mat-elevation-z8">
      <ng-container matColumnDef="{{column.key}}" *ngFor="let column of initAppliedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.name}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
      </ng-container>



      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedAppliedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayApplied.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <div class="example-element-description">


              <mat-horizontal-stepper [linear]="!isLinear" [class.Rejected]="element.status ==='REJECTED'"
                [selectedIndex]="selectedStep[element.index]" #stepper>
                <ng-template matStepperIcon="edit">
                  <mat-icon style="background-color:rgb(44, 160, 44);">done</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="done">
                  <mat-icon style="background-color:rgb(44, 160, 44);">done</mat-icon>
                </ng-template>
                <mat-step *ngFor="let stepName of steps[element.index];let i = index"
                  [completed]="i<selectedStep[element.index]" [editable]="editable[i]">
                  <ng-template matStepLabel let-index="index">
                    {{stepName}}
                    
                    <small *ngIf="i==selectedStep[element.index] && element.status!='REJECTED' && i!=0"><br />Scheduled On
                      {{element.scheduledDate}}</small>
                   
                    <small *ngIf="i==selectedStep[element.index] && element.status!='REJECTED'"> <br />Competing with
                      {{element.competingWith}} {{(element.competingWith===1) ? 'Applicant' : 'Applicants'}}</small>
                  </ng-template>
                  <ng-template class="reject" matStepperIcon="number" let-index="index">
                    <mat-icon *ngIf="index==stepper.selectedIndex && element.status=='REJECTED';else NumberIcon">clear
                    </mat-icon>
                    <ng-template #NumberIcon>
                      <div>{{index+1}}</div>
                    </ng-template>
                  </ng-template>
                </mat-step>
              </mat-horizontal-stepper>
              <div *ngIf="element.feedBack && element.status=='REJECTED'" style="background-color:white;color: #f44336;"> <b>FeedBack</b> :
                {{element.feedBack}}</div>

            </div>


          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayApplied"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayApplied" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedAppliedDetail']" class="example-detail-row"></tr>
    </table>
  </div>


</div>