<div mat-dialog-content>
    <form class="form-container  bg-form" [formGroup]="interviewshedulerform">
        <div class="form-group">

            <mat-form-field class="col-sm-12">
                <div>
                    <mat-label>Date</mat-label>
                </div>
                <div>
                    <input type="Date" matInput aria-label="Date" class="form-control" name="Date"
                        formControlName="Date" [(ngModel)]="date">
                    <mat-error
                        *ngIf="interviewshedulerform.get('Date').touched && interviewshedulerform.get('Date').errors?.required">
                        Date is Required
                    </mat-error>
                </div>
            </mat-form-field>
            <div class="col-md-12">
                <div>
                    <mat-label>TIME</mat-label>
                </div>
                <div>
                    <ngb-timepicker formControlName="Time" meridian="ON"></ngb-timepicker>
                    <small style="color:red"
                        *ngIf="interviewshedulerform.get('Time').touched && interviewshedulerform.get('Time').errors?.required">
                        Time is Required
                    </small>
                </div>
            </div>

        </div>
    </form>
</div>

<div mat-dialog-actions style="justify-content: center;">
    <button mat-raised-button color="primary" [disabled]="interviewshedulerform.invalid" (click)="sendResponse(true)"
        cdkFocusInitial>Schedule</button>
    <button mat-raised-button color="primary" (click)="sendResponse(false)" cdkFocusInitial>Close</button>
</div>