<h3 mat-dialog-title>Role Management</h3>
<div mat-dialog-content>
        <mat-label>User Role</mat-label>
        <mat-radio-group class="example-radio-group" [value]="data.roleName">
            <mat-radio-button class="example-radio-button" *ngFor="let role of availableRoles" (change)="changeValue($event)" value="{{role}}">{{role}}</mat-radio-button>
        </mat-radio-group>
          
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onAction(true)">Change Role</button>
    <button mat-raised-button color="warn" (click)="onAction(false)">Discard</button>
</div>