<div mat-dialog-content>
<form class="form-container  bg-form" [formGroup]="feedbackform">
        <div class="form-group">
            <mat-form-field class="formField">
                <div>
                    <mat-label>Feedback</mat-label>
                </div>
                <input type="input" [style.width.px]=327 matInput aria-label="Feedback" class="form-control" name="feedback" formControlName="feedback"
                 [(ngModel)]="feedback" >
                <mat-error *ngIf="feedbackform.get('feedback').touched && feedbackform.get('feedback').errors?.required">
                    Feed Back is Required
                </mat-error>
            </mat-form-field>
        </div>   
    </form>
</div>
<div mat-dialog-actions>
    <!--<button mat-raised-button class="submitBtn" [disabled]="!addCategoryForm.valid">Submit</button>-->
    <button mat-raised-button color="primary"[disabled]="feedbackform.invalid" (click)="sendResponse(true)" cdkFocusInitial>Submit</button>
    <button mat-raised-button color="primary" (click)="sendResponse(false)" cdkFocusInitial>Close</button>
</div>
