<div class="pageRoot bg">
    <div class="search-hero">
        <input #filter class="form-control" type="text" name="search"
            placeholder="&#61442; {{placeholderText}}">
    </div>
    <div class="gridButtonContainer">
        <button *ngIf="selectable" [disabled]="!selection.hasValue()" class="gridButton" [class.disabledColor]="!selection.hasValue()"  color="warn" matTooltip="Action on Selected Rows" aria-label="Action" matTooltipPosition="above" mat-raised-button [matMenuTriggerFor]="multiRowAction">
            <small>Selection Action</small> <mat-icon>more_vert</mat-icon>
                <mat-menu #multiRowAction="matMenu">
                    <ng-template matMenuContent>
                        <button value="{{actions.actionId}}" (click)="onMultiRowActionHandler(actions.actionId)" *ngFor="let actions of rowActions" mat-menu-item>{{actions.actionName}}</button>
                    </ng-template>                                    
                </mat-menu>                        
        </button>
    </div>
    <div class="gridContainer" #gridContainer infiniteScroll (scrolled)="onScroll()">
        <table mat-table matSort [dataSource]="dataSource && dataSource.data? dataSource.data: []" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox color="warn" (change)="$event ? selectAll() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let transaction">
                  <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(transaction) : null"
                                [checked]="selection.isSelected(transaction)">
                  </mat-checkbox>
                </td>
              </ng-container>
            <ng-container  matColumnDef="{{columnDef.columnId}}" *ngFor="let columnDef of displayColumnDefenition">
                <th mat-header-cell *matHeaderCellDef>{{columnDef.columnName}}</th>
                <ng-container [ngSwitch]="columnDef.columnType?columnDef.columnType:'undefined'">
                    <ng-container *ngSwitchCase="'string'">
                        <td mat-cell *matCellDef="let transaction"> {{transaction[columnDef.columnId]}} </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'undefined'">
                        <td  mat-cell *matCellDef="let transaction"> {{transaction[columnDef.columnId]}} </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'stringList'">
                        <td  mat-cell *matCellDef="let transaction"> {{transaction[columnDef.columnId].join(',')}} </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'icon'">
                        <td mat-cell *matCellDef="let transaction">
                            <mat-icon color="{{columnDef.iconColor}}">{{columnDef.iconType}}</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container  *ngSwitchCaseDefault> 
                        <td  mat-cell *matCellDef="let transaction"> {{transaction[columnDef.columnId]}} </td>
                    </ng-container>
                </ng-container>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="text-align: right;"mat-cell *matCellDef="let transaction">
                    <button class="notClickable" matTooltip="More Actions" matTooltipPosition="above" mat-icon-button [matMenuTriggerFor]="actionMenu">
                        <mat-icon class="notClickable">more_vert</mat-icon>
                            <mat-menu #actionMenu="matMenu">
                                <ng-template matMenuContent>
                                    <button (click)="onAction(actions.actionId,transaction)"value="{{actions.actionId}}" *ngFor="let actions of rowActions" mat-menu-item>{{actions.actionName}}</button>
                                </ng-template>                                    
                            </mat-menu>                        
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnIds; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: columnIds;" (click)="onRowClick(row,$event)"></tr>
        </table>
    </div>
</div>