table {
    width: 100%;
    height:70%;
    background: #09020212;
    box-shadow: 5px 5px 3px 2px;
}
.pageRoot{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.gridContainer {
    border-radius:10px;
    max-height: 430px;
    overflow:auto;
    width:100%;
    margin-top: 1%;
}
table {
    width: 100%;
}
tr:hover {
   cursor: pointer;
   background-color: #ccc;
}

.search-hero {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin:auto;
}
.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder  {
  font-family: FontAwesome;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#3f51b5;
    border-radius: 10px;
  }
  .gridButtonContainer {
    
    margin-top:12px;
    align-content: flex-end;
    justify-items: end;
    display: grid;
  }
  .gridButton {
    vertical-align: middle;
  }

  .disabledColor {
    background-color: darkgrey !important;
    color: white !important;
  }