
 
 <!--   
<table class="table table-hover ">

    <thead class="bg-info">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Job Name</th>
      <th scope="col">Job Description</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Job of jobs; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{Job.jobName}}
      </td>
      <td>{{Job.jobShortDescription}}</td>
      
    </tr>
    </tbody>
</table>
-->

<!--<div class="pageRoot">

  
    <table mat-table matSort [dataSource]="dataSource? dataSource: []" class="mat-elevation-z8">
     
      <ng-container matColumnDef="JobName">
        <th mat-header-cell *matHeaderCellDef>Job Name</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.jobName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="JobDescription">
        <th mat-header-cell *matHeaderCellDef> jobDescription</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.jobShortDescription}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="openDetail(row)"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>
  </div>
-->

<custom-search-page [refreshGrid]="refreshGrid" [displayColumnDefenition]="displayColumnDefenition" 
[api]="api" [placeholderText]="placeholderText"
(rowClick)="onRowClick($event)">
</custom-search-page>
    
