table {
    width: 100%;
    height:70%;
}
.pageRoot{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.gridContainer {
    border-radius:10px;
    max-height: 490px;
    overflow:auto;
    width:100%;
    margin-top: 1%;
}
table {
    width: 100%;
}
tr:hover {
   cursor: pointer;
}


