/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background:slategray;
  border-radius: 5px;
}

.form-control {
  padding: 5px !important;
}
